<section>
    <h2>Client Page Test</h2>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="first_name" name="fname" value=""><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="last_name" name="lname" value=""><br><br>
        <label for="Task">Let Us Know What You Need Help with</label><br>
        <input type="text" id="last_name" name="lname" value=""><br><br>
        <input type="submit" value="Submit">
    </form>
</section>