<section>
    <div class="card">
        <div class="card-header">
            <h2>Client Page</h2>
        </div>
        <div class="container">
            <div class="title"> Task Form Request</div>
            <div class="content">
                <form action="/api/clientpage" id="newTaskForm" class="card-body needs-validation was-validated"
                    nonvalidate="" method="POST" data-client="{{client.id}}">
                    <div class="task-details">
                       <!-- <div class="input-box">
                            <div class="col-md-10">
                                <label for="validationFirstname" class="form-label"></label>First name:</label><br>
                                <input class="form-control" type="text" id="validationFirst_name" name="fname" value=""
                                    required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="col-md-10">
                                <label for="validationLastname" class="form-label"></label>Last name:</label><br>
                                <input class="form-control" type="text" id="validationLast_name" name="lname" value=""
                                    required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>-->
                        <div class="input-box">
                            <div class="col-md-10">
                                <label for="TaskTitle" class="form-label"></label>Task Title</label><br>
                                <input class="form-control" type="text" id="taskTitle" name="taskTitle" value=""
                                    required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="col-md-4">
                            <label for="Task" class="form-label"></label>Let Us Know What You Need Help
                            with</label>
                            <textarea class="form-control" type="text" id="taskDeets" name="taskDeets" value=""
                                required=""></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="col-md-8">
                            <label for="task_time" class="form-label"></label>When do you need help with this
                            Task?</label><br>
                            <input class="form-control" type="datetime-local" id="task_time" name="task_time" value=""
                                required=""><br><br>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="col-md-4">
                            <label for="location">City (Choose the closest one to you, if you don't find yours
                                here):
                            </label>
                            <select name="location" id="location">
                                <option value="San_Francisco">San Francisco</option>
                                <option value="San_Jose">San Jose</option>
                                <option value="Palo_Alto">Palo Alto</option>
                                <option value="Oakland">Oakland</option>
                                <option value="Sacramento">Sacramento</option>
                                <option value="Santa_Rosa">Santa Rosa</option>
                                <option value="Fresno">Fresno</option>
                            </select> <br>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value=" Submit Task" class="submit-btn">
                    </div>
            </div>
            </form>
        </div>
</section>

<section class="task-section">
    <div class="container">
<div class="task-bar">
            <button class="taskBar-btn location-btn">Location</button>
            <button class="taskBar-btn availTask-btn" id="availTaskBtn" >Available Tasks</button>
            <button class="taskBar-btn acceptTask-btn">Accepted Tasks</button>
            <button class="taskBar-btn completeTask-btn">Completed Tasks</button>
        </div>
        <table id="table" style="width: 100%">
            <tr class="table-row">
                <th class="tHead task-header" style="width: 15%;">Task</th>
                {{!-- <th class="details-column" style="width: 25%;">Details</th> --}}
                <th class="tHead" style="width: 15%;">User</th>
                <th class="tHead" style="width: 20%;">Time</th>
                <th class="tHead" style="width: 15%;">Location</th>
                <th class="tHead action-header" style="width: 13%;">Actions</th>
                <th class="tHead blank-header" style="width: 5%;"></th>
                <th class="tHead blank-header" style="width: 5%;"></th>
            </tr>
            {{!-- <tr>
                <td class="task-items">Task test</td>
                <td>client test</td>
                <td>Time test</td>
                <td>Location test</td>
                <td><button class="details-button">Get Details</button></td>
                <td><button class="accept-button">Accept</button></td>
                <td><button class="decline-button">Decline</button></td>
            </tr> --}}
        </table>
    </section>
</div>
<!-- Modal based on code from W3schools.com -->
<div id="modal" class="modal">
    <div class="m-box">
        <div class="m-header">
            <span class="close">&times;</span>
            <h2 id="task-title-modal"></h2>
        </div>
        <div class="m-body">
            <p id="m-body"></p>
        </div>
    </div>
</div>
    </div>
        


<script src="../js/client.js"></script>


<!--<section class="task-listN">
    <div class="container">
        <div class="title"> My Tasks </div>
        <div class="task-section">
            <label for="task-title">My Task 1</label>
            <div class="form-data"> Form Data 1</div>
            <div class="button">
                <input type="submit" value="Task Status" class="submit-btn">
            </div>
        </div>
                <div class="task-section">
            <label for="task-title">My Task 2</label>
            <div class="form-data"> Form Data 2</div>
            <div class="button">
                <input type="submit" value="Task Status" class="submit-btn">
            </div>
        </div>
                <div class="task-sectionN">
            <label for="task-titleN">{{client.task}}</label>
            <div class="form-dataN"> Form Data 3</div>
            <div class="button">
                <input type="submit" value="Task Status" class="submit-btn">
            </div>
        </div>
    </div>

</section> -->