<div class="flex-container">
    <section class="helper-header">
        <div>
            <h1>Happy Helper</h1>
        </div>

    </section>
    <section class="user-form">
        <div class="row">
            <div class="column helper-name" id="helper-name">Name</div>
            <div class="column helper-title" id="helper-title">job</div>
        </div>
        <div class="row">
            <div class="column helper-location" id="helper-location">Location</div>
            <div class="column helper-progress" id="helper-progress">Number of times Helped</div>
        </div>
    </section>
</div>

<script src="../public/js/scriptHelper.js"></script>