<div>
    <form action="/landingPageRoutes" method="POST">    
        <div class="card text-center mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Welcome to the Happy Helper</h5>
                <a href="#" class="btn btn-primary">Client</a>
                <a href="#" class="btn btn-primary">Helper</a>
            </div>
        </div>
    </form>
</div>
<br>
<div>
    <form action="/landingPageRoutes" method="POST">    
        <div class="card text-center mx-auto" style="width: 18rem;">
            <div class="card-body">
                <label for="userName">Username</label>
                <input type="text" name="userName" id="userName" required>
                <label for="userName">Password</label>
                <input type="text" name="password" id="password" required>  <br>
                <br><button class="btn btn-primary">login</button><br>
                <a href="/registerpage">register</a>
            </div>
        </div>
    </form>
</div>