<div>
        <div class="card text-center mx-auto">
            <div class="card-body">
                <h1>You have successfully registered! Please click the link below to login</h1>
                 <a class="btn btn-primary" href="/landingpage">login</a><br><br>
            </div>
        </div>
</div>