<div>
    <form action="/registerpage" method="POST">    
        <div class="card text-center mx-auto" style="width: 18rem;">
            <div class="card-body">
                <label for="first_name">First name: </label>
                <input type="text" name="name" id="name" required>
                <label for="last_name">Last name: </label>
                <input type="text" name="name" id="name" required>
                <label for="username">Username: </label>
                <input type="text" name="name" id="name" required>
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" required>
                <label for="password">Password: </label>
                <input type="text" name="password" id="password" required>  <br>
                <br><button type="submit" class="btn btn-primary">Register</button><br>
            </div>
        </div>
    </form>
<a href="/landingpage">login</a>
</div>